.confession-container{
    display: grid;
    padding-top: 1em;
    place-items: center;
    width: 100%;
    background-color: var(--off-white);
}
.confession-form{
    display: grid;
    width: 80%;
    max-width: 40rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: .5em;
}
.formgroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formgroup *{
    padding: .5em 0;
}
.grid-span-4{
    grid-column: span 4;
}
.grid-span-2{
    grid-column: span 2;
}
.grid-row-span-2{
    grid-row: span 2;
}
.formgroup>input{
    padding: 1em .5em;
}
.formgroup>textarea{
    padding: 1em .5em;
}
.formgroup>label{
    font-weight: bold;
}
@keyframes removeborder {
    from{
        border-right:.25em solid var(--pink) ;
    border-bottom:.25em solid var(--pink) ;
    }
    to{
        border: none;
    }
}
input,textarea,select{
    border: none;
    outline: none;
    border-right:.25em solid var(--pink) ;
    border-bottom:.25em solid var(--pink) ;
    font-family: 'Montserrat';
}
input:focus,textarea:focus{
    /* border: none; */
    outline: none;
    transition:all linear .2s;
    background-color: var(--pink);
    color: var(--black);
    animation: removeborder ease-out .2s;
}